body{
    background-color: #ede1d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

header{
    background-color: #ccc7c7cb;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4b7edc;
    text-align: center;
    display: block
}
header img{
    border: 2px solid black;
    width: 10%;
}
h1 {
    margin-right: 20px;
}
nav{
    background-color: #F5FFFA;
    border: 1px solid black;
    display: inline-block;
    width: 80%;
}
main{
    background-color: #FFE4B5;
    border: 1px solid black;
    font-size: 120%;
    padding: 10px;
    display: 80%;
}
footer{
    background-color: #FFF0F5;
    border: 1px solid black;
    padding: 10px;
}

li {
    text-align: center;
    display: inline-block;
    margin-right: 4em;
    margin-bottom: 1em;
}

li a{
    background-color: #ede1d3;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
}

p{
    line-height: 0.5cm;
    text-align: justify;
}
p a{
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
}
.grid img {
    width: 100%;
}
.grid {
    justify-content: space-between;
    align-items: center; 
    row-gap: 20px; 
}
.flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.refferent-title{
    color: red;
    background-color: yellow;
}