body{
    background-color: #ede1d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}
header{
    background-color: #ccc7c7cb;
}
nav{
    background-color: #F5FFFA;
    border: 1px solid black;

}
main{
    background-color: #FFE4B5;
    border: 1px solid black;
    font-size: 120%;
    padding: 10px;
}
footer{
    background-color: #FFF0F5;
    border: 1px solid black;
    padding: 10px;
}

li {
    text-align: center;
    display: inline-block;
    margin-right: 4em;
    margin-bottom: 1em;
}

li a{
    background-color: #ede1d3;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b7edc;
    text-align: center;
}
p{
    line-height: 0.5cm;
}
p a{
    text-decoration: none;
}
header img{
    width: 60%;
    height: 60%;
}

  